[submodule "submodules/UIKit"]
	path = submodules/UIKit
	url = https://github.com/Melzas/UIKit.git
[submodule "submodules/SystemConfigKit"]
	path = submodules/SystemConfigKit
	url = https://github.com/Melzas/SystemConfigKit.git
[submodule "submodules/DataKit"]
	path = submodules/DataKit
	url = https://github.com/Melzas/DataKit.git
[submodule "submodules/CommonKit"]
	path = submodules/CommonKit
	url = https://github.com/Melzas/CommonKit.git
[submodule "submodules/ActiveRecordKit"]
	path = submodules/ActiveRecordKit
	url = https://github.com/Melzas/ActiveRecordKit.git
